<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Webpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <header>
        <div class="main-header">
            <div class="home">
                <h1>
                    <a href="/">Home</a>
                </h1>
            </div>
            {% if current_user %}
                <div class="user-info">
                    <h1>
                        <a href="/users/{{current_user.id}}" style="text-decoration: none; color: #f0f0f0">
                            {{ current_user.username }} 
                        </a>
                    </h1>
                    <form action="/logout"></form>
                </div>
            {% else %} 
                <button>Log in</button>
            {% endif %}
        </div>
    </header>
    {% block content %}{% endblock %}
</body>

</html>