<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Webpage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Spline+Sans+Mono:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='posts.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='new_form.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}" />
</head>

<body>
    {% block header %}
        <header>
            <div class="main-header">
                <div class="home">
                    <h1>
                        <a href="/">Home</a>
                    </h1>
                </div>
                {% if current_user %}
                    <div class="user-info">
                        <h1>
                            <a href="/users/{{current_user.id}}" style="text-decoration: none; color: #f0f0f0">
                                {{ current_user.username }} 
                            </a>
                        </h1>
                        <form action="/logout">
                            <input type="submit" value="Logout">
                        </form>
                    </div>
                {% else %} 
                    <form action="/login" method="get">
                        <input type="submit" value="Log in">
                    </form>
                {% endif %}
            </div>
        </header>
    {% endblock %}
    {% block content %}{% endblock %}
</body>

</html>