{% extends "base.html" %}
{% block content %}
    <form action="/posts/{{post.id}}/edit" method="post">
        <input type="text" name="post[title]" value="{{post.title}}" placeholder="Title">
        <br>
        <textarea name="post[body]" cols="30" rows="10" placeholder="Description">{{post.body}}</textarea>
        <br>
        <input type="submit" value="Update post!">
    </form>

    {% with error_messages = get_flashed_messages() %}
        {% if error_messages %}
            <br>
            <div class="errors">
                <h2>{{error_messages[0]}}</h2>
            </div>
        {% endif %}
    {% endwith %}
{% endblock content %}