{% extends "base.html" %}
{% block content %}
    {% if current_user %}
    <div class="new-post">
        <h2><a href="/posts/new">FEEL LIKE ENLIGHTENING USERS WITH A NEW TOPIC? CREATE A NEW POST!</a></h2>
    </div>
    {% endif %}
    <div class="outer-container">
    {% for post in posts %}
        <a href="/posts/{{post.id}}">
            <div class="inner-posts-container">
                <p class="heading">{{post.title}}</p>
                <p class="post-author">{{post.author().username}}</p>
                <p class="post-desc">{{post.body}}</p>
            </div>
        </a>
        <br>
    {% endfor %}
    </div>
{% endblock %}