{% extends 'base.html' %}
{% block content %}
    <h1 style="text-align: center;">Add a new post</h1>
    <div class="new">
        <form action="/posts/new" method="post">
            <input type="text" name="post[title]" placeholder="Title">
            <br>
            <br>
            <textarea name="post[desc]" cols="80" rows="8" placeholder="Description"></textarea>
            <br>
            <br>
            <input type="submit" value="Create Post!">
        </form>
    </div>
{% endblock content %}