{% extends "base.html" %}
{% block content %}
    <h2>{{post.title}}</h2>
    <p>By: {{post.author().username}}</p>
    <p>Created on: {{post.created_on}}</p>
    <h3>{{post.body}}</h3>

    {% for snippet in post.snippets() %}
        {{snippet.beautify_snippet()|safe}}
    {% endfor %}

    <br>
    <form action="/posts/{{post.id}}/destroy" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete post">
    </form>
{% endblock content %}